* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

h1 {
    color: rgb(255, 47, 182);

    text-shadow: 1px 2x black;
}

h2,
p {
    color: rgb(249, 112, 201);

}

.cuerpo {
    margin: auto;
    max-width: 70%;
    text-align: center;
    padding: 5px;
    
}
#encabezado{
    text-align: center;
}

table,
tr,
td {
    border: 2px solid rgb(255, 47, 182);
    border-collapse: collapse;
    background-color: rgb(252, 236, 243);
    justify-content: center;

}

table {
    margin: auto;
    text-align: center;
}

td,
.imagen {
    width: 70px;
}

.imagen {
    padding: 5px 5px 0px 5px;
}
