* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}
.body{
    position: relative;
}
.titulo {
    color: rgb(255, 47, 182);
    text-shadow: 1px 2px black;
}

.autor,
#puntuacion,.puntuacion, #tiempo {
    color: rgb(249, 112, 201);
    margin: 1%;
}
.puntuacion, #puntuacion{
    display: inline;
}
#cuerpo{
    margin: auto;
    max-width: 80%;
    text-align: center;
   
}

table{
    max-width: 50%;
    margin: auto;
}
table,
td {
    border: 2px solid rgb(255, 47, 182);
    border-collapse: collapse;
    background-color: rgb(252, 236, 243);
}

td,
.imagen, tr {
    width: 50px;
    height: 50px;
}

.imagen {
    padding-top: 5px;
    
}
#reset{
    display: inline-block;
    background-color: rgb(252, 236, 243);
    padding: 10px;
    border: 2px solid rgb(255, 47, 182);
    font-weight: 700;
    text-align: center;
    color: rgb(255, 47, 182);
    width: 150px;
    position: absolute;
    top: 2%;
    right:  5%;
}
 .ocult {
    display: none;
}

 .visible{
    display: block;
}
.clickable {
   pointer-events: all; 
}
.noClickable {
   pointer-events: none; 
}